html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

:focus,
:active {
  outline: none;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

nav,
footer,
header {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
  margin: 0;
  padding: 0;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1230px) {
  .container {
    width: 1230px;
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-accent {
  color: #2196f3;
}

.header {
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.burger-btn {
  margin-left: auto;
  background-color: inherit;
}

.burger-btn .close-burger-icon {
  display: none;
}

.burger-btn.is-open .close-burger-icon {
  display: block;
}

.burger-btn.is-open .burger-icon {
  display: none;
}

.burger-btn:focus .burget-btn-icon,
.burger-btn:hover .burger-btn-icon {
  fill: #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu.is-open {
  display: block;
}

.menu .nav-item + .nav-item {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .menu .nav-item + .nav-item {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 14px;
  }
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.nav-link.current {
  color: #2196f3;
}

.nav-link.current::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
}

.nav-link.current:hover::after {
  width: 100%;
}

.nav-list {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-left: 88px;
  }
  .nav-list .nav-item + .nav-item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1230px) {
  .nav-list {
    margin-left: 93px;
  }
}

.contacts-list {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-top: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1230px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts-list .contacts-item + .contacts-item {
    margin-left: 50px;
  }
}

.contacts-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1230px) {
  .contacts-text {
    font-size: 14px;
  }
}

.contact-tel {
  margin-top: 16px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contact-tel {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contacts-icon {
  fill: #757575;
}

.contacts-link {
  color: #757575;
}

.contacts-link:hover, .contacts-link:focus {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  color: #2196f3;
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  fill: #2196f3;
}

.contacts-link .tel-icon {
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .contacts-link .tel-icon {
    margin-top: 0;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: url(/img/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:focus, .hero-btn:active {
  outline: none;
}

.feature {
  margin-top: 60px;
  margin-bottom: 60px;
}

.feature-main-title {
  display: none;
}

.feature-list .feature-item::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list .attention::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/feature/feature-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feature-list .punctuality::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/feature/feature-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feature-list .planning::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/feature/feature-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feature-list .technologies::before {
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/feature/feature-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature-list .feature-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1230px) {
  .feature-list .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1230px) {
  .feature-item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 10px;
}

.feature-text {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */