.hero {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 200px;
  background-image: url(../img/hero/img-overlay.svg), url(../img/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  color: $whiteColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
