.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: url(/img/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1230px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;

  @media screen and (min-width: 1230px) {
    font-size: 44px;
  }
}
