.contacts {
  margin-top: 60px;
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  columns: $majorTextColor;

  & .contacts-item + .contacts-item {
    margin-top: 16px;
  }
}

.contacts-item {
  margin-bottom: 60px;
}

.contacts-link {
  color: $majorTextColor;

  &:hover,
  &:focus {
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    color: $accentColor;
  }
  &:hover .contacts-icon,
  &:focus .contacts-icon {
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    fill: $accentColor;
  }
}
.contacts-icon,
.contacts-icon {
  fill: $majorTextColor;
}
.mail-icon {
  width: 20px;
  height: 17px;
}
.tel-icon {
  width: 15px;
  height: 17px;
}

.contacts-text {
  margin-left: 10px;
}
