.nav {
  display: flex;
  width: 100%;
}

.nav-list {
  margin-top: 60px;

  & .nav-item + .nav-item {
    margin-top: 50px;
  }
  // display: flex;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $titleTextColor;
  &:hover,
  &:focus {
    color: $accentColor;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  &.current {
    color: $accentColor;
  }

  &.current::after {
    display: block;
    content: "";
    margin-top: 28px;
    width: 100%;
    height: 4px;
    background-color: $accentColor;
    border-radius: 4px;
    position: absolute;
  }
  &.current:hover::after {
    width: 100%;
  }
}
.nav-container {
  display: flex;
}

.burger-btn {
  display: inline-flex;
  margin-left: auto;
  margin-right: 15px;
  padding: 0;
  background-color: transparent;

  & .close-burger-icon {
    display: none;
  }

  &.is-open .close-burger-icon {
    display: block;
  }
  &.is-open .burger-icon {
    display: none;
  }
}

.menu-conteiner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: $whiteColor;

  &.is-open {
    display: block;
  }
}
