0html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: $majorTextColor;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $titleTextColor;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
button {
  border: 0;
  padding: 0;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}

ul {
  padding-inline-start: 0px;
  margin: 0px;
  padding: 0px;
}

li {
  padding-inline-start: 0px;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  margin: 0;
  padding: 0;
}

.instagram-icon {
  width: 20px;
  height: 20px;
}

.twitter-icon {
  width: 20px;
  height: 16px;
}
.facebook-icon {
  width: 10px;
  height: 20px;
}
.linkedin-icon {
  width: 20px;
  height: 20px;
}
