$majorTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$whiteColor: #ffffff;
$minorWhiteColor: rgba(255, 255, 255, 0.6);
$minorBgColor: #2f303a;
$subBgColor: #f5f4fa;
$iconMainColor: #afb1b8;
